CREATE DATABASE [ZulupaRPGDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZulupaRPGDB', FILENAME = N'C:\Users\Rostik\ZulupaRPGDB.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZulupaRPGDB_log', FILENAME = N'C:\Users\Rostik\ZulupaRPGDB_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [ZulupaRPGDB]
GO
USE [ZulupaRPGDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [ZulupaRPGDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
